.nav {
  padding-right: 2em;
  padding-left: 4em;
}

.navbar-text {
  margin-right: 2em;
}

.navbar-brand {
  margin-left: 1em;
}

.input-group {
  width: 50%;
}

.container {
  margin-top: 2em;
}

.input-group-text {
  height: 100%;
}
