<br>
<form (ngSubmit)="onSubmit()" #demoForm="ngForm">
	<div class="form-group">
		<label>ID du document (le long texte situé entre le /d/ et le /edit/ dans le lien)</label>
		<input type="text" class="form-control" id="sheetId" required [(ngModel)]="model.sheetId" name="sheetId" #sheetId="ngModel">
	</div>

	<button type="submit" class="btn btn-success">Submit</button>

</form>
<br>
<pre>{{ output }}</pre>

<p>{{loaded}}</p>

<h2>Hello1</h2>
<h3 *ngIf="workoutList">{{workoutList[0].titre}}</h3>

<div *ngFor="let workout of workoutList">
  <h2>Hello</h2>
  <p>{{ workout.titre }}</p>
</div>
