<div class="container">
  <div *ngIf="user">

    <form (ngSubmit)="onSubmit()" #demoForm="ngForm">
      <div class="form-group">
        <label>ID du document (le long texte situé entre le /d/ et le /edit/ dans le lien)</label>
        <input type="text" class="form-control" id="sheetId" required [(ngModel)]="model.sheetId" name="sheetId" #sheetId="ngModel">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>

    <div *ngIf="!spreadSheetIsSet()">
      <p>Merci de renseigner le lien du google sheet</p>
    </div>

    <div *ngIf="spreadSheetIsSet()">
      <div class="filter-container">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="stateFilter" (change)="onFilterWorkouts()">
          <option *ngFor="let property of filterProperties" [value]="property">{{ property }}</option>
        </select>
      </div>
      <div class="content">
        <app-workout-list [workoutList]="filterWorkoutList"></app-workout-list>
      </div>
    </div>



  </div>
  <div *ngIf="!user">
    Merci de vous connecter à l'aide de votre compte Google !
  </div>
</div>
