<div class="container">
  <div *ngIf="user">

    <form (ngSubmit)="onSubmit()">
      <label>{{ traductionMap.size > 0 ? traductionMap.get('spreadsheet_input_label') : 'Lien du document Google sheet'}}</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" required [(ngModel)]="sheetUrl" name="sheetId" [placeholder]="this.spreadSheetIsSet() ? traductionMap.get('spreadsheet_input_placeholder') : ''">
        <button class="btn btn-success" type="submit" [ngStyle]="{'background-color': traductionMap.get('spreadsheet_input_button_color'), 'border-color': traductionMap.get('spreadsheet_input_button_color')}" id="button-addon2">{{ traductionMap.size > 0 ? traductionMap.get('spreadsheet_input_button_label') : 'Valider' }}</button>
      </div>
    </form>

    <div *ngIf="!spreadSheetIsSet()">
      <p>{{ traductionMap.get('no_spreadsheetSet_label') }}</p>
    </div>

    <div *ngIf="spreadSheetIsSet() && allWorkoutList">
      <div class="filter-container">
        <div class="left-content">
          <div class="filter">
            <p>{{ traductionMap.get('filter_label') }}</p>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="stateFilter" (change)="onFilterWorkouts()">
              <option *ngFor="let property of filterProperties" [value]="property">{{ property }}</option>
            </select>
          </div>
          <div class="sort">
            <p>{{ traductionMap.get('sort_label') }}</p>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="sortProperty" (change)="onSortWorkouts()">
              <option *ngFor="let property of sortProperties" [value]="property">{{ property }}</option>
            </select>
          </div>
        </div>
        <div class="right-content">
          <form (ngSubmit)="onSearchWorkouts()">
            <div class="input-group search-input">
              <input type="text" class="form-control" required [(ngModel)]="search" name="sheetId" [placeholder]="traductionMap.get('workout_search_placeholder')">
              <button class="btn btn-primary" type="submit" [ngStyle]="{'background-color': traductionMap.get('workout_search_button_color'), 'border-color': traductionMap.get('workout_search_button_color')}" id="search">{{ traductionMap.get('workout_search_button_label') }}</button>
            </div>
          </form>
        </div>
      </div>
      <div class="content">
        <app-workout-list [workoutList]="filterWorkoutList"></app-workout-list>
      </div>
    </div>



  </div>
  <div *ngIf="!user">
    {{ traductionMap.get('notLogin_label') }}
  </div>
</div>
