.card-title .todo {
  color: red;
}

.card-title .wip {
  color: orange;
}

.card-title .done {
  color: green;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  height: 15em;
}

.description {
  height: 50%;
  overflow: scroll;
}
