<div class="card" style="width: 18rem; cursor: pointer" *ngIf="traductionMap">
  <div class="card-body">
    <h5 class="card-title" [ngStyle]="{'color': workout.etat == 'terminé' ? traductionMap.get('done_workout_color') : workout.etat == 'en cours' ? traductionMap.get('wip_workout_color') : traductionMap.get('todo_workout_color')}">{{ workout.titre }}</h5>
    <p class="card-text description">{{ workout.description }}</p>
    <div class="card-footer">
      <span class="card-text"><small class="text-muted">{{ workout.dateDebutPrevue }}</small></span>
      <span class="badge text-bg-danger bg-danger" *ngIf="daysLate && daysLate > 0">{{ daysLate }} j</span>
    </div>
  </div>
</div>
