.content {
  margin-top: 2em;

  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .2);
  border-radius: .5em;
  padding: 1em;
}
.column-content {
  display: flex;
  flex-wrap: wrap;
}


.left-content {
  width: 75%;
  min-width: 30em;
}

.right-content {
  width: 25%;
}

.right-content-values {
  border-left: solid black;
}

.right-header-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
  .right-content {
    width: 100%;
  }
  .right-header-content {
    justify-content: flex-start;
  }
}

textarea {
  resize: none;
  margin-bottom: .5em;
}

.textarea-group {
  margin-top: 2em;
}

.content-video {
  display: flex;
  justify-content: center;
}

.content-doc {
  margin-bottom: 2em;
}
