<div class="container" *ngIf="workout">
  <div class="content">
    <div class="column-content">
      <div class="left-content">
        <h1>{{ workout.titre }}</h1>
        <p>{{ workout.description }}</p>
      </div>
      <div class="right-content">
        <div class="right-header-content">
          <button class="btn btn-success" *ngIf="workout.etat === 'non commencé' || workout.etat === 'terminé'" (click)="onChangeState('En cours')">Commencer</button>
          <button class="btn btn-danger" *ngIf="workout.etat === 'En cours'" (click)="onChangeState('terminé')">Terminer</button>
        </div>
        <div class="right-content-values">
          <ul>
            <li>{{ workout.codeModule }}</li>
            <li>{{ workout.dureeEstimee }}</li>
            <li>{{ workout.etat }}</li>
            <li>Début prévu : {{ workout.dateDebutPrevue }}</li>
            <li>Fin prévu : {{ workout.dateFinPrevue }}</li>
            <li *ngIf="workout.dateDebutReelle">Début réel : {{ workout.dateDebutReelle }}</li>
            <li *ngIf="workout.dateFinReelle">Fin réel : {{ workout.dateFinReelle }}</li>
          </ul>
        </div>

      </div>
    </div>
    <div>
      <div class="textarea-group">
        <label class="form-check-label" for="exampleCheck1">Commentaire</label>
        <textarea class="form-control" aria-label="With textarea" id="exampleCheck1" [(ngModel)]="workout.commentaire"></textarea>
        <button class="btn btn-primary" (click)="onSubmitCommentaire()">Envoyer</button>
      </div>
      <div class="textarea-group">
        <label class="form-check-label" for="exampleCheck2">Feedback</label>
        <textarea class="form-control" aria-label="With textarea" id="exampleCheck2" disabled>{{ workout.feedback }}</textarea>
      </div>
    </div>
  </div>
</div>
