.content {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}

.left-content {
  max-width: 70%;
  padding: 1em;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 2em;
  align-items: flex-start;
  align-content: flex-start;
}

.module-card {
  width: 45%;
}

.center-div {
  border-left: solid black .1em;
}


.right-content {
  max-width: 20%;
  padding: 1em;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 2em;
  align-items: flex-start;
  align-content: flex-start;
}

.card-body-header {
  display: flex;
  align-items: flex-start;
  column-gap: .3em;
}

.icon {
  width: 2em;
}

.card-challenge {
  cursor: pointer;
}

.card {
  min-width: 20em;
}

@media only screen and (max-width: 1200px) {
  .left-content {
    max-width: 50%;
  }
  .right-content {
    max-width: 45%;
  }
}


@media only screen and (max-width: 800px) {
  .center-div {
    border-left: none;
    border-top: solid black .1em;
    width: 100%;
  }
  .right-content {
    max-width: 100%;
    padding: 1em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2em;
    align-items: flex-start;
    align-content: flex-start;
  }
  .left-content {
    max-width: 100%;
    padding: 1em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2em;
    align-items: flex-start;
    align-content: flex-start;

  }
  .card {
    width: 100%;
  }
}
