<div class="container">
  <div class="content">
    <div class="left-content">

      <div class="card module-card" *ngFor="let module of listModules">
        <div class="card-body">
          <div class="progress">
            <div *ngIf="module.avancement" class="progress-bar" role="progressbar" [style]="'width: '+module.avancement+'%;'"   aria-valuemin="0" aria-valuemax="100">{{ module.avancement }}%</div>
            <div *ngIf="!module.avancement" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"  aria-valuemin="0" aria-valuemax="100">0%</div>
          </div>
          <h5 class="card-title">{{ module.code }} : {{ module.libelle }}</h5>
          <p class="card-text">{{ module.description }}</p>
        </div>
      </div>

    </div>
    <div class="center-div"></div>
    <div class="right-content">
      <div class="card card-challenge" *ngFor="let challenge of listChallenge" [class]="challenge.etat !== 'terminé' ? 'text-dark bg-light' : ''" (click)="onChallengeClick(challenge)">
        <div class="card-body">
          <div class="card-body-header">
            <img class="icon" [src]="challenge.etat === 'terminé' ? '../../../assets/trophy.png' : '../../../assets/trophy_disabled.png'"/>
            <h5 class="card-title">{{ challenge.titre }}</h5>
          </div>
          <p class="card-text">{{ challenge.description }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
