<nav class="navbar navbar-expand navbar-light bg-light fixed-bottom">
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <i class="fa fa-list" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="List des entrainements"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <i class="fa fa-cogs" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="..."></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <i class="fa fa-trophy" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Trophées"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">
          <i class="fa fa-address-book" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Contact"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
