<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-collapse">
    <ul class="navbar-nav home-location" routerLink="/">
      <li class="nav-item" *ngIf="infosMetaDonnees">
        <img [src]="infosMetaDonnees.logo" alt="">
      </li>
      <li class="nav-item" *ngIf="infosMetaDonnees">
        {{ infosMetaDonnees.nom }}
      </li>
      <li class="nav-item" *ngIf="infosMetaDonnees">
        {{ infosMetaDonnees.titre }}
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="user">
        {{ user.name }}
       </li>
      <li class="nav-item">
        <div class="g-signin2" data-onsuccess="onSignIn" *ngIf="!user && !user2"></div>
        <button class="btn btn-danger" [ngStyle]="{'background-color': traductionMap.get('logout_button_color'), 'border-color': traductionMap.get('logout_button_color')}" (click)="onSignOut()" *ngIf="user">{{ traductionMap.size > 0 ? traductionMap.get('logout_button_label') : 'Se déconnecter' }}</button>
      </li>
    </ul>
  </div>
</nav>

