.navbar {
  height: 5vh;
  align-items: center;
  text-align: center;

}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar-nav {
  display: flex;
  column-gap: 1em;
}

img {
  height: 4vh;
}
.nav-item {
  align-self: center;
}

.home-location {
  cursor: pointer;
}
